<div class="main-content">
  <div class="container-fluid">
    <div class="row">       
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title ">{{operacion}} movimiento Fijo</h4> 
                    <p class="card-category"> {{fechaActual}}</p>
                </div>
                <div class="card-body">
                    <form #frmFijos="ngForm">
                        <div class="row">
                            <div class="col-md-2"> 
                                 <mat-form-field>
                                    <mat-label>Grupos</mat-label>
                                    <select matNativeControl [(ngModel)]="selectedSubgrupo" name="subgrupos" (change)="selecConceptos()">
                                      <option *ngFor="let subgrupo of subgrupos" [value]="subgrupo.descripcion">
                                        {{subgrupo.descripcion}}
                                      </option>
                                    </select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-label>Conceptos</mat-label>
                                    <select matNativeControl [(ngModel)]="selectedConcepto" name="conceptos">
                                      <option *ngFor="let concepto of arrConceptos" [value]="concepto">
                                        {{concepto}}
                                      </option>
                                    </select>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">  
                                  <input matInput placeholder="Descripción" [(ngModel)]="selectedDescripcion" name="descripcion" > 
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                  <input matInput type="number" placeholder="Valor" [(ngModel)]="selectedValue" 
                                            name="valor" #valor = "ngModel" required>
                                  <small *ngIf="!valor.valid && valor.touched">
                                    El valor es obligatorio 
                                  </small> 
                                </mat-form-field>
                            </div>     
                            <div class="col-md-2">
                                <button mat-raised-button color="primary" (click)="llamaMetodo()" 
                                        type="button" [disabled]= "frmFijos.invalid">Guardar</button>
                            </div>                                                                         
                        </div>
                    </form>                    
                </div>               
            </div>
        </div>   
    </div>   
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listado de movimientos Fijos</h4>
                      <p class="card-category"> Mes actual: {{mesActual}}</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>  </th>
                                  <th> Grupo </th>
                                  <th> Subgrupo </th>
                                  <th> Concepto </th>
                                  <th> Descripción </th>
                                  <th class="alignValor"> Valor </th>   
                                  <th> Operaciones </th>                               
                              </thead>
                              <tbody>
                                  <tr *ngFor="let fijo of fijos, index as id "> 
                                      <td> {{ id+1 }} </td>
                                      <td> {{fijo.obj_concepto.grupo}} </td> 
                                      <td> {{fijo.obj_concepto.subgrupo}} </td>
                                      <td>  {{fijo.obj_concepto.concepto}} </td>
                                      <td>  {{fijo.detalle}} </td>
                                      <td class="text-primary alignValor"> {{fijo.valor  | currency }} </td>
                                      <td> <button mat-raised-button color="primary" (click)="editFijo(fijo._id)" type="button" class="btnListado">Editar</button> 
                                        <button mat-raised-button color="primary" (click)="delFijo(fijo._id)" type="button" class="btnListado">Borrar</button>
                                        <button mat-raised-button color="primary" (click)="actFijo(fijo._id)" type="button" class="btnListado">Activar</button> 
                                      </td>
                                  </tr>
                                  <tr>
                                    <th>  </th>
                                    <th>  </th>
                                    <th>  </th>
                                    <th>  </th>
                                    <th class=" alignValor"> Total Ingresos </th>   
                                    <th class=" alignValor"> {{ totalIngresosMes | currency}} </th>
                                    <th>  </th>                               
                                </tr>  
                                <tr>
                                    <th>  </th>
                                    <th>  </th>
                                    <th>  </th>
                                    <th>  </th>
                                    <th class=" alignValor"> Total Egresos </th>   
                                    <th class=" alignValor"> {{ totalEgresosMes | currency}} </th> 
                                    <th>  </th>                              
                                </tr>                                   
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
