<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Perfil de Usuario</h4>
            <p class="card-category">Complete su perfil</p>
          </div>
          <div class="card-body">
            <form #frmUsuario="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Rol" [value]="usuario.rolid" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput [value]="usuario.correo" placeholder="Correo" type="email" disabled>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4>Datos Básico</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="frm_apellidos" name="apellidos" placeholder="Apellidos" type="text"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="frm_nombres" name="nombres" placeholder="Nombres" type="text" required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="frm_telefono" name="telefono" placeholder="Teléfono" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="frm_acercaMi" name="acercaMi"
                      placeholder="Acerca de mi">{{usuario.acercaMi}}</textarea>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="button" class="btn btn-danger pull-right"
                (click)="actDatosBasicos()">Actualizar </button>
              <div class="clearfix"></div>
            </form>
            <form #frmUsuarioClave="ngForm">
              <div class="row">
                <div class="col-md-12">
                  <h4>Actualizar Clave</h4>
                </div>
              </div>
              <div class="row mb-0 pb-0">
                <div class="col-md-6 ">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="frm_clave" name="clave" placeholder="Clave" type="password">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="frm_conClave" name="confClave" placeholder="Confirmar Clave"
                      type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-warning mt-0 pt-0">
                  <small>{{parametrosClave}}</small>
                </div>
              </div>
              <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="actClave()">Cambiar
                Clave</button>
              <div class="clearfix"></div>
            </form>
            <form #frmUrlFoto="ngForm" method='post' encType="multipart/form-data" (ngSubmit) = "onSubmit()">
              <div class="row">
                <div class="col-md-12">
                  <h4>Cambiar Foto</h4>
                </div>
              </div>
              <div class="row mb-0 pb-0">
                <div class="col-md-6 ">
                  <input id="urlFoto" placeholder="Clave" type="file" accept="image/*">
                </div>
                <div class="col-md-6">
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Cambiar Foto</button>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="./assets/img/faces/juan.jpg" />
          </div>
          <div class="card-body">
            <!-- <h6 class="card-category text-gray">Ingeniero de Sistemas</h6> -->
            <h6 class="card-title">{{usuario.nombres}} {{usuario.apellidos}}</h6>
            <p class="card-description alnJustificado">{{usuario.acercaMi}}</p>
            <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Seguir</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>